{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.18.0",
          "esmodules": false
        }
      }
    ]
  ],
  "plugins": ["@babel/transform-arrow-functions"]
}
